.page-template-polling {
  display: block;

  h1 {
    font-size: 24px;
    margin-top: 10px;

  }
  p {
    font-size: 16px;

  }
  .row {
    display: block;
  }


  .polling-content {
    display: block;

    .mc-polling {
      background-color: #F7F7F7;
      padding: 10px 20px 20px 20px;
      margin-top: 20px;
      overflow: hidden;

      .button-container {
        display: block;

        .polling-button {
          text-transform: uppercase;
          display: block;
          width: 175px;
          background-color: #FFFFFF;
          border-radius: 5px;
          padding: 6px;
          margin: 0 auto 10px auto;
          border: 1px solid $mc_light_grey;
          color: $mc_grey;
          text-align: center;

          &:hover {
            background-color: $mc_health;
            color: #fff;
            border-color: $mc_health;
          }
        }
      }
  }
  .divider {
    margin: 30px 0;
    background-size: 8px 6px;
    height: 10px;
    width: 100%;
    border: 1px solid $mc_lightest_grey;
  }

  .mc-intelligence {

    .youtube-embed {
      position: relative;
      height: auto;
      width: auto;
      padding-bottom: 56.56%;
      iframe {
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    p {
      padding: 10px 0;
    }
  }

  .mci-charts {

    .mci-chart {
      display: inline-block;
      // width: 50%;
      text-align: center;
      padding: 10px;
      margin: 10px 0px;

      p {
        font-size: 14px;

      }
      img {
        border: 1px solid #ccc;
      }
      a {
        color: $mc_grey;
        text-decoration: none;

        &:hover {
          color: #fff;
        }

        button {
          text-transform: uppercase;
          width: 200px;
          background-color: #FFFFFF;
          border-radius: 5px;
          padding: 6px;
          display: block;
          margin: 20px auto 0px auto;
          border: 1px solid $mc_light_grey;
          &:hover {
            background-color: $mc_health;
            border-color: $mc_health;
          }
        }

        }
      }
    }

    .logo-container {
      border-bottom: 2px solid $mc_grey;

      // width: 50%;
      p {
        font-size: 22px;
      }
      img {
        width: 40px;
        height: 40px;
        margin: 0px 0px 5px 10px;
      }
      span {
        font-size: 26px;

      }
    }
  }

}
