$blue: #197cb5;
$grey: #F2F1F1;

body.page-template-page-advertising {

font-family: "avenir";

row, container {
  display: block;
}

.container-wrapper {
  display: block;
  width: 100%;
  background-color: $grey;
  &.blue {
    background-color: $blue;
  }
}

.hero-image {
  // min-height: 300px;
  background-size: cover;
  background-position: 25% 50%;

  .hero-transparent {
    width: 300px;
    height: inherit;
    background-color: rgba($blue, 0.8);
    margin-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;

    @media(max-width: 480px) {
      width: 100%;
      margin-left: 0;
      padding-top: 20%;
      padding-bottom: 20%;
    }

    .hero-products {
      background-color: #000;
      font-weight: bold;
      color: #FFF;
      font-size: 40px;
      padding: 15px;
      text-align: center;
    }

    .hero-text {
      color: #fff;
      padding: 20px;

    }
  }
}

.icon-container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  h1 {
    font-size: 20px;
    margin: 20px 0;
  }
  div {
    cursor: pointer;
  }
  button {
    margin-top: 50px;
    background-color: $blue;
    clear: both;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    &:hover {
      background-color: #FFF;
      border: 1px solid $blue;
      color: $blue;
    }
  }
  h1.icon-advertise {
    font-size: 50px;
    margin: 50px 0 10px 15px;
    text-align: left;

  }
}

.advertise-container {
  padding-top: 40px;
  padding-bottom: 20px;
  .advertise-row {
    margin: 20px 0;
  }
  .advertise-text-wrapper {
    padding-top: 30px;

    @media(max-width: $screen-lg) {
      padding-top: 30px;
    }
    @media(max-width: $screen-md) {
      padding-top: 30px;
    }
    @media(max-width: $screen-sm) {
      padding-top: 20px;
    }
    @media(max-width: $screen-xs) {
      padding-top: 10px;
    }
    p.advertise-header {
      text-transform: uppercase;
      font-size: 20px;
      span {
        font-weight: bold;
      }
    }
    p {
      font-size: 14px;
    }

  }
}

.polling-container {
  @extend .advertise-container;

  .advertise-text-wrapper {
    @media(max-width: $screen-lg) {
      padding-top: 20px;
    }
    @media(max-width: $screen-md) {
      padding-top: 10px;
    }
    @media(max-width: $screen-sm) {
      padding-top: 10px;
    }
    @media(max-width: $screen-xs) {
      padding-top: 0px;
    }
  }

}

.events-container {
  color: #FFF;
  background-position: center;

  .events-image {
    background-size: cover;
    background-position: center top;
    min-height: 400px;
    padding-top: 50px;

    @media(max-width: $screen-md) {
      min-height: 500px;
    }
    @media(max-width: $screen-xs) {
      min-height: 530px;
    }
  }

  .events-list {
    ul {
      list-style: none;
      padding-left: 0px;
    }
  }

  .learn-more {
    padding-top: 100px;
    clear: both;
    margin-left: 15px;
  }
}
.mci-container {
  padding-top: 20px;
  margin-bottom: 50px;
  border-top: 1px solid #000;


  .mci-title {
    font-weight: bold;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .mci-title-text {
    margin-bottom: 30px;
  }

  .mci-icons {
    text-align: center;

    @media(max-width: 480px) {
      margin-top: 25px;
    }

    h1 {
      font-size: 24px;
    }
  }

}

.mci-video {
  .mci-video-aspect {
    position: relative;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

    }
  }
}

.get-started {
  color: #FFF;

  .text-container {
    .get-location-icon {
      background: url('img/advertising-page/icons/location-pin-on-map.png') no-repeat top left;
      padding-left: 40px;
      margin: 15px 0px;
      line-height: 25px;
    }
    .get-tel-icon {
      background: url('img/advertising-page/icons/phone-receiver.png') no-repeat top left;
      padding-left: 40px;
      line-height: 25px;
    }
  }

  .form-container {
    color: #000;
    label {
      color: #FFF;
      margin: 4px 0;
    }
    .ginput_container {
      margin-top: 0;
    }
  }
}
}
