$mc_screen_bg: #f1f1f1;

$mc_med_grey: #333333;
$mc_light_grey: #aaaaaa;
$mc_lightest_grey: #eeeeee;
$mc_ticker_grey: #4C4C4C;
$mc_ticker_hover: #f4f2f1;
$mc_grey: #2B2B2B;
$mc_active_nav: #424242;
$mc_post_bg: #f8f8f8;
$mc_social_grey: #7c7c7c;
$mc_border_grey: #e0e0e0;
$mc_nav_border: #e7e7e7;
$mc_body_bgcolor: #fafafa;

$mc_headline_text: $mc_grey;
$mc_body_text: #2B2B2B;

$mc_meta_text: $mc_light_grey;

$mc_tech: #deaf2f;
$mc_health: #cc533b;
$mc_energy: #328bb8;
$mc_finance: #70a555;
$mc_congress: #6e5880;
$mc_campaigns: #9885aa;
$mc_whitehouse: #4a3c59;
$mc_polling: #2b2b2b;
$mc_general: $mc_grey;

$mc_superlight_brown: #f7f5f2;
$mc_clinton_blue: #314b6e;

$twitter_blue: #00bff3;
$facebook_blue: #003471;

$mc_style_health_red: #d33f30;
$mc_style_finance_green: #51a03c;
$mc_style_energy_blue: #3c8fcf;
$mc_style_tech_orange: #eeae20;
