<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; margin: 0px; padding: 0px; " xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta content="width=device-width" name="viewport" />
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
		body, table, td, a{-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
		body{margin:0; padding:0;}
		img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none; max-width: 100%; -ms-interpolation-mode:bicubic;}
		table{border-collapse:collapse !important; mso-table-lspace:0pt; mso-table-rspace:0pt;}
		body{height:100% !important; margin:0; padding:0; width:100% !important;}

		/* font settings */
		a {
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
			text-decoration: none;
		}
		p {
			color:#2B2B2B;
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
			line-height: 1.5;
		}
		td {
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
		}
		li {
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
		}
		h1 {
			color:#2B2B2B;
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
		}
		h2 {
			color:#2B2B2B;
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
		}
		h3 {
			color:#2B2B2B;
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
		}
		h4 {
			color:#2B2B2B;
			font-family: helvetica, 'helvetica', arial, 'arial', sans-serif;
		}
		.paragraph-text {
			font-size: 14px;
			line-height: 1.5;
			text-align: left;
		}

		@media screen and (max-width: 525px) {
			table[class="wrapper"]{
				width:100% !important;
			}
			td[class="logo"]{
				text-align: left;
				padding: 20px 0 20px 0 !important;
			}
			td[class="logo"] img{
				margin:0 auto!important;
			}
			td[class="mobile-hide"]{
				display:none;
			}
			img[class="mobile-hide"]{
				display: none !important;
			}
			img[class="img-max"]{
				max-width: 100% !important;
				height:auto !important;
			}
			table[class="responsive-table"]{
				width:100%!important;
			}
			table[class="table-600"] {
				width: 600px !important;
				max-width: 600px;
			}
			td[class="padding"]{
				padding: 10px 5% 15px 5% !important;
			}
			td[class="padding-copy"]{
				padding: 10px 5% 10px 5% !important;
				text-align: center;
			}
			td[class="padding-meta"]{
				padding: 30px 5% 0px 5% !important;
				text-align: center;
			}
			td[class="no-pad"]{
				padding: 0 0 20px 0 !important;
			}
			td[class="no-padding"]{
				padding: 0 !important;
			}
			td[class="section-padding"]{
				padding: 50px 15px 50px 15px !important;
			}
			td[class="section-padding-bottom-image"]{
				padding: 50px 15px 0 15px !important;
			}
			td[class="mobile-wrapper"]{
				padding: 10px 5% 15px 5% !important;
			}
			table[class="mobile-button-container"]{
				margin:0 auto;
				width:100% !important;
			}
			a[class="mobile-button"]{
				width:80% !important;
				padding: 15px !important;
				border: 0 !important;
				font-size: 16px !important;
			}
		}
		.table-image-container {
			font-size: 0;
			
		}
		.table-image-container a {
			font-size: 1px;
		}
	</style>
</head>
<body style="margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" align="center" class="section-padding">
			<table class="table-600" border="0" cellpadding="0" cellspacing="0" width="600">
				<tr>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<!-- MAIN IMAGE -->
									<table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
											<tr>
												<td class="padding-copy">
													<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-image-container">
														<tr>
															<td>
																{{content}}
															</td>
														</tr>
													</table>
												</td>
											</tr>
									</table>
									<!-- /MAIN IMAGE -->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<!-- new footer --> 
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td bgcolor="#ffffff" align="center">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td style="padding: 20px 0px 20px 0px;">
						<!-- UNSUBSCRIBE COPY -->
						<table width="500" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
							<tr>
								<td align="center" valign="middle" style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;">
									<!-- sfmc -->
									<table cellpadding="2" cellspacing="0" width="600" ID="Table5" Border=0><tr><td><font face="verdana" size="1" color="#444444">This email was sent by: <b>%%Member_Busname%%</b><br>%%Member_Addr%% %%Member_City%%, %%Member_State%%, %%Member_PostalCode%%, %%Member_Country%%<br><br></font></td></tr></table>
									<a href="%%profile_center_url%%" alias="Update Profile">Update Profile</a>
									<custom name="opencounter" type="tracking">
									<!-- //sfmc -->
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>
