.home .featured {
    // padding: 0;

    .entry-header {
      padding-bottom: 15px;
      padding-top: 30px;

        h2 {
            font-size: 36px;
						font-weight: bold;
        }
    }

    .author {
        display: block;
    }

    .thumbnail-wrap {
        position: relative;

        .square-category-icons {
            float: none;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }


    h2 {
        margin: 0;
    }

    .entry-footer {
        padding: 0 10px 10px;
    }

    .share-icons {
        float: left;
        margin-top: 0;
    }
    .author {
        float: left;

        a {
            color: $mc_body_text;
            font-size: 16px;
        }
    }
}
