.page-template-page-home .stories {
  padding-top: 20px;
  padding-bottom: 40px;

  .section-title {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .wp-post-image {
    width: 100%;
  }

  hr {
      border-top-color: #AAAAAA;
  }

  .read-more {
      color: #555;
      font-style: italic;
  }
}
