.mc-rankings-table-wrap {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: none;
    border-bottom: 2px solid black;

    @media (min-width: 1200px) {
        border: none;
    }
}

.mc-rankings-table {
    font-family: "proxima-nova", sans-serif;
    text-align: left;

    thead {
        background-color: #222222;

        th {
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }

    td.rank {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
    }

    td.trending {
        min-width: 120px;
        vertical-align: middle;
        text-align: center;

        .movement {
            font-size: 24px;
            font-weight: bold;

            &.up {
                color: rgb(45,140,83);
            }

            &.down {
                color: rgb(180,0,0);
            }

            &.none {
                color: rgb(150,150,150);
            }
        }

        .previous {
            color: rgb(150,150,150);
            font-size: 14px;
        }
    }

    td.race {
        vertical-align: middle;
        text-align: center;

        img {
            width: 120px;
            margin-bottom: 15px;
        }
    }

    td.comments {
        min-width: 300px;
        // max-width: 300px;

        > div {
            white-space: normal;
        }
    }
}