.page {
    .gform_wrapper {
        .top_label {
            input.large, select.large, textarea.textarea {
                width: 100%;
            }
        }

        .top_label {
            li.gfield.gf_left_half {
                margin-bottom: 15px;
                input.medium, input.large, select.medium, select.large{
                    width: 100%;
                }
            }

            li.gfield.gf_right_half {
                margin-bottom: 15px;
                input.medium, input.large, select.medium, select.large{
                    width: 100%;
                }
            }
        }
    }
}