.subscribe-modal {

	&.fade.in {
			opacity: 0.9;
			background-color: #222222;
	}

	.modal-dialog {
		padding-top: 50px;
	}

	.modal-content {
			background-color: transparent;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: none;
			color: #FFFFFF;

			.close {
					color: #FFFFFF;
					text-shadow: none;
					opacity: 1;
			}
	}

	.ginput_container input {
		background-color: transparent;
		border: 1px solid #FFFFFF;
		padding: 10px 5px;
		font-size: 14px;
		font-family: "proxima-nova",sans-serif;
	}
}

.subscribe-page-form_wrapper {

	// custom class added to form settings
	.gform_checkbox_label { 
		> label.gfield_label {
			margin-bottom: 0;
		}
		.ginput_container_checkbox {
			margin-top: 8px !important;
		}
	}

	.gfield_checkbox {
		margin-bottom: 32px !important;
		input {
			margin-top: 0 !important;
			background-color: transparent;
			border: 1px solid #FFFFFF;
			padding: 10px 5px;
			font-size: 14px;
			font-family: "proxima-nova",sans-serif;
		}
		label {
			font-weight: normal;
			max-width: 100% !important;
		}
		li {
			display: block;
		}
	}

	.gplaceholder {
		margin-top: 8px !important;
		margin-bottom: 8px !important;
		.gfield_label {
			display: none !important;
		}
	}

	.gform_footer {
		input[type="submit"] {
			background-color: #fff;
			border: 1px solid $mc_grey;
			outline: none;
			border-radius: 3px;
			color: $mc_grey;
			text-transform: uppercase;
		}
	}
}