.ad-container {
  margin: auto auto 20px auto;
  text-align: center;
  div {
    text-align: center;
    margin: auto;
  }
}

.ticker-alert-top {
  margin-top: 20px;
}

.ticker-alert {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  border-bottom: 1px solid $mc_border_grey;
}

.story-single {
  margin-top: 20px;
}
