#alert-skyscraper-ad {
  margin-top: 20px;
  text-align: center;
  .ad-container {
    padding: 10px 0px 5px 0px;
  }

}

.alerts {
  margin: 20px 0;
  background-color: #FFF;
  padding: 0px;
  padding: 20px;
  box-shadow: 0px 0px 5px 1px rgba(43, 43, 43, 0.2);

  .load-more-wrapper {
    width: 300px;
    margin: auto;
    @media(max-width: $screen-md) {
      width: auto;
    }
  }

  .section-title-wrapper {
    margin-bottom: 10px;
    position: relative;
    text-align: center;


    .section-title-img {
      display: inline-block;
      height: 22px;
      vertical-align: -5px;
    }
    h3.section-title {
      padding: 10px 5px;
      margin: auto;
      text-transform: uppercase;
      font-size: 19px;
      display: inline-block;
      color: $mc_grey;
      font-family: "proxima-nova";
      letter-spacing: 2px;
      z-index: 50;
    }
  }


    article {
      background-color: #FFFFFF;
      font-size: 14px;
      border-bottom: 1px solid #E0E0E0;
      padding: 20px 0 20px 0;
			box-shadow: none;
			max-width: 100%;

      &.news-ticker-ad-wrap {
        background-color: transparent;
        border: none;
      }

      .entry-footer {
        .timeago {
          color: #222;
        }
      }
    }

    .alert-entry-title {
      margin: 0;
			font-weight: bold;
      font-size: 16px;
      line-height: 20px;

      a {
        display: block;
        padding: 0 0 5px 0;
        text-decoration: none;
				color: $mc_grey;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .alert-entry-content {
        margin: 0;
        padding: 10px 0;
        font-size: 14px;
				max-width: 300px;
    }

    .feature {
        img {
            width: 100%;
            margin-bottom: 10px;
        }
        .twitter-tweet {
            padding-left: 10px !important; // overriding twitter inline styles
            padding-right: 10px !important;
        }
    }

    .entry-footer {
        padding: 5px 0;
        color: $mc_grey;
        position: relative;
        a:not(:nth-child(1)):not(.timeago) {
          margin: 0 5px;

        }
        a:nth-child(1) {
          margin: 0 5px 0 0 ;
        }
        .timeago {
          margin-top: 5px;
          display: block;
        }
        .share-icons {
          i {
            vertical-align: 1px;
          }

        }
    }

}
