.page.archive {

    .entry-title {
        a {
            color: $mc_grey;
        }
    }

    .tech {
        color: $mc_tech;
    }

    .health {
        color: $mc_health;
    }

    .energy {
        color: $mc_energy;
    }

    .finance {
        color: $mc_finance;
    }

    .congress {
        color: $mc_congress;
    }
}

body.author.archive {
    .page {
        padding-top: 0;
    }

    .page-header {
        margin-top: 0;

        .page-title {
            margin-top: 0;
        }
    }

    .author-info {

        .name {
            margin-top: 0;
            margin-bottom: 0;
        }

        .job-title {
            font-size: 22px;
            margin-top: 15px;
        }

        .twitter {
            color: #FFFFFF;
        }

        .content {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .pull-right {
            .content {
                @media (max-width: 767px) {
                    padding: 0 0 20px 0;
                }
            }
        }
    }
}

.pager {
    li {
        > a, > span {
            border-radius: 4px;
            color: $mc_med_grey;
            border-color: $mc_med_grey;

            &:hover {
                background-color: $mc_med_grey;
                color: #FFFFFF;
            }
        }
    }
}
