//author story page
body.archive.author {
	.author-info {
		h1.name {
			font-size: 30px;
			font-weight: bold;
		}
		.job-title {
			font-size: 16px;
			margin-top: 10px;
			font-weight: bold;
			text-transform: uppercase;
		}
		a.twitter, a.email {
			color: $mc_social_grey;
		}
		.slashes {
			color: $mc_social_grey;
		}
		.bio {
			margin-top: 10px;
		}
	}
	article {
		box-shadow: none;
		min-height: auto;
		padding: 0;
		.entry-title a {
			font-size: 24px;
			font-weight: bold;
			padding-bottom: 10px;
		}
		.entry-footer { 
			.category {
				margin: 0 4px;
				&:first-child {
					margin-left: 0;
				}

			}

			.timeago {
				color: $mc_social_grey;
				margin-left: 4px;
				&:hover {
					color: $mc_social_grey;
				}
			}
		}
	}
}