.page-template-client-landing-page-1 {
    padding: 0;
    font-size: 18px;
    color: rgb(100,100,100);

    > .page {
        padding: 0 0 20px 0;
    }

    header.banner {
        background-color: #000000;
        text-align: center;

        img {
            width: 100%;
            max-width: 940px;
            margin: 0 auto;
        }
    }

    article {
        padding: 40px 0;
    }

    .columns {
        > div {
            margin-top: 10px;
            margin-bottom: 10px;
            border-bottom: 2px solid rgb(220,220,220);
            text-align: center;
        }
    }

    @media (min-width: 768px) {
        .columns {
            > div {
                margin-top: 0;
                margin-bottom: 0;
                min-height: 150px;
                text-align: left;

                &:nth-child(2) {
                    border-left: 2px solid rgb(220,220,220);
                    border-right: 2px solid rgb(220,220,220);
                }

                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}