body.page-template-page-dialtest-v2 {

container {
	display: block;
}

row {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.featured-image-caption {
	font-size: 12px;
	color: rgb(120, 120, 120);
	text-align: right;
	padding: 5px 0px;
}

h1.page-title {
	margin-bottom: 20px;
}

.intro-text {
	img {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
.text-content {
	margin-bottom: 30px;
	margin-top: 20px;
	line-height: 1.6;
}

.video-container {
	font-size: 0;

	.video-container--title {
		margin-top: 0;
		font-size: 22px;
		text-transform: uppercase;
		text-align: center;
	}
}

.dial-animation {
	width: 100%;
	position: relative;
	margin-bottom: 20px;

	img {
		position: relative;
		left: 0;
		top: 0;
		z-index: 10;
	}

	.progress-bar {
		background-color: #e79b83;
		z-index: 5;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

	}


}

.entry-meta {
	color: #aaa;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: lighter;
	a {
		color: #aaa;
	}
}

.share-icons {
	display: inline-block;
	float: right;
	margin-top: 0;
	i {
		color: #FFF;
	}
}

.authors {
	margin-top: 40px;
	border-top: 1px solid $mc_light_grey;
	border-bottom: 1px solid $mc_light_grey;

	.author {
		a {
			color: $mc_social_grey;
		}

		.name {
			display: block;
			margin-bottom: 0;
		}

		.twitter, .author-link {
			color: $mc_social_grey;
		}
	}

	.author-photo {
		margin: 40px 0;
		max-height: 100%;
		display: inline-block;
		text-align: center;
		@media(max-width: $screen-xs) {
			margin: 20px 0 0 0;
		}

		img {
				border-radius: 50%;
		}
	}

	.author-info {
		padding: 30px 0;
		display: inline-block;
		@media(max-width: $screen-xs) {
			text-align: center;
		}

		h4.name {
			font-size: 16px;
			margin: 10px 0;
		}
		a {
			margin: 10px 0;
			@media (max-width: $screen-xs) {
				display: block;
			}
		}

		p {
			font-style: italic;
			margin: 10px 0;
		}
		span {
			margin: 0 5px;
			color: $mc_social_grey;
		}
		span.slashes {
			@media (max-width: $screen-xs) {
				display: none;
			}
		}
	}
}

}
