body.page-template-page-dialtest {

container {
	display: block;
}

row {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1.page-title {
	text-align: center;
	margin-bottom: 20px;
}

.intro-text {
	img {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

.video-container {
	font-size: 0;

	h2 {
		margin-top: 0;
		text-transform: uppercase;
		text-align: center;
	}
}

.dial-animation {
	width: 100%;
	position: relative;
	margin-bottom: 20px;

	img {
		position: relative;
		left: 0;
		top: 0;
		z-index: 10;
	}

	.progress-bar {
		background-color: #e3ea54;
		z-index: 5;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

	}


}

.entry-meta {
	color: #aaa;
	text-align: center;
	margin-bottom: 20px;
	a {
		color: #aaa;
	}
}

}
