.page-template-page-election-interactive {
	$navpills: #E2E2E2;
	$navpillsactive: #B6BAB6;
	$bordergrey: #cccccc;
	$textgrey: #777777;
	$unknowngrey: #d8d8d8;
	$dem: #79b7c6;
	$rep: #d65348;

	container, row {
		display: block;
	}
	.noborder {
		border: 0 !important;
	}
	.page-title {
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;
	}
	.page-content {
		margin: 40px 0;
		font-size: 18px;
	}

	#interactive {
		padding-bottom: 50px;
	}

	.legend-container {
		margin-top: 30px;

		.legend-color {
			border-radius: 50%;
			height: 15px;
			width: 15px;
			display: inline-block;
			margin-right: 8px;

			&.red {
				background-color: $rep;
			}
			&.blue {
				background-color: $dem;
			}
		}

		.legend-text {
			color: $mc_body_text;
			display: inline-block;
			padding-right: 20px;
			vertical-align: 3px;
		}
	}

	.horizontal {
		padding: 40px 0;
		span {
			font-size: 14px;
			color: $textgrey;
		}
	}

	.horizontal-chart {
		max-height: 40px;
		margin-top: -3px;
	}
	.vertical-chart {
		min-height: 220px;
		max-height: 300px;
		margin: 20px 0;
	}

	.container-900 {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
	.national {
		border-top: 1px solid $bordergrey;
		padding-top: 40px;
		h2 {
			text-align: center;
		}
		h3 {
			text-transform: uppercase;
			font-size: 16px;
			color: $mc_body_text;
			margin-bottom: 20px;
		}
	}
	.gender {
		padding-top: 0;
		h2 {
			margin-top: 0;
		}
	}
	.state {
		padding-bottom: 40px;
	}

	.nav {
		display: none;
	}

	.nav-pills li {
		background-color: $navpills;
		border: 0;
		a {
			color: $mc_body_text;
			&:hover, &:focus {
				color: $mc_body_text;
			}
		}
		&.active {
			background-color: $navpillsactive;
			a {
				background-color: $navpillsactive;
				font-weight: bold;
			}
		}
	}

}