.page-template-fifty-states {
    > .page {
        padding-top: 20px;
    }

    article.page {
        padding: 0;

        .entry-header {
            text-align: center;
            margin-bottom: 20px;
        }
        div.entry-meta {
          text-align: center;
          font-weight: normal;
          font-size: 14px;
          color: #bbb;
          margin-bottom: 15px;
          a {
            color: #bbb;
            text-decoration: none;
          }
        }
        .lead-paragraph {
          margin-bottom: 50px;
        }
    }
    .page-text {
      margin-bottom: 30px;
    }


    .tab-content {
        padding: 15px;
        margin-bottom: 40px;
        border-radius: 3px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
    }

    .map-wrap {
      display: block;
      // height: 50vh;
      @media (max-width: $screen-xs) {
        height: 250px;
      }
      @media (min-width: $screen-xs) {
        height: 400px;
      }
      @media (min-width: $screen-md) {
        height: 700px;
      }
    }

    .electoral-votes-bar {
        position: relative;
        height: 20px;
        width: 100%;
        margin-bottom: 50px;

        .votes {
            float: left;
            height: inherit;

            &.votes-r {
                float: right;
            }
        }

        .midpoint {
            width: 3px;
            position: absolute;
            top: 0;
            left: 50%;
            height: inherit;
            background-color: #FFFFFF;
        }

        .midpoint-label {
          margin: auto;
          text-align: center;
          font-size: 14px;
        }
    }
    .electoral-votes-totals {
      .totals {
        font-size: 2em;
      }
      .totals-label {
        text-align: center;
        margin: auto;
        display: block;
      }
      .totals-d {
        float: left;
      }

      .totals-r {
        float: right;
      }
    }

    .tab-content.table-wrap {
      @media (max-width: $screen-xs) {
        padding: 10px 0px 20px 0px;
      }
    }
    .tablepress thead {
      @media (max-width: $screen-xs) {
        font-size: 10px;
      }
    }
    .tablepress tbody {
      @media (max-width: $screen-xs) {
        font-size: 14px;
      }
    }
}
