
@font-face {
  font-family: "proxima-nova";
  src: url('fonts/proximanova_regular-webfont.eot');
  src: url('fonts/proximanova_regular-webfont?#iefix') format('embedded-opentype'),
	url('fonts/proximanova_regular-webfont.woff') format('woff'),
	url('fonts/proximanova_regular-webfont.woff2') format('woff2'),
	url('fonts/proximanova_regular-webfont.ttf') format('truetype'),
	url('fonts/proximanova_regular-webfont.svg#proximanova_regular-webfont') format('svg');
	font-weight: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url('fonts/proximanova_bold-webfont.eot');
  src: url('fonts/proximanova_bold-webfont?#iefix') format('embedded-opentype'),
	url('fonts/proximanova_bold-webfont.woff') format('woff'),
	url('fonts/proximanova_bold-webfont.woff2') format('woff2'),
	url('fonts/proximanova_bold-webfont.ttf') format('truetype'),
	url('fonts/proximanova_bold-webfont.svg#proximanova_bold-webfont') format('svg');
	font-weight: bold;
	
}

@font-face {
  font-family: "proxima-nova";
  src: url('fonts/proximanova_light-webfont.eot');
  src: url('fonts/proximanova_light-webfont?#iefix') format('embedded-opentype'),
  url('fonts/proximanova_light-webfont.woff') format('woff'),
  url('fonts/proximanova_light-webfont.woff2') format('woff2'),
  url('fonts/proximanova_light-webfont.ttf') format('truetype'),
  url('fonts/proximanova_light-webfont.svg#proximanova_light-webfont') format('svg');
	font-weight: 100;
}
