#footer-main {
  background-color: $mc_body_text;
  padding: 9px 0;
  color: #FFFFFF;
  min-height: 50px;
  font-family: "proxima-nova",sans-serif;
  position: relative;
  z-index: 110;
  text-align: center;

  .container {
		padding-top: 6px;

      > div.footer-widget {
			@media (max-width: $screen-sm) {
				display: block;
				margin-bottom: 10px;
			}
			@media (min-width: $screen-sm) {
        margin-right: 30px;
        display: inline-block;
				}
			}
  }

  ul.footer-social {
    list-style: none;
    display: inline-block;
    padding-left: 0;
		margin-bottom: 0;


    a:first-of-type li {
      margin-left: 0;
    }

    li {
      display: inline-block;
      margin: 0 10px;
    }

    a {
      text-decoration: none;
      color: #FFF;
    }
  }
  #menu-footer-menu {
    &, & ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      color: #FFFFFF;
			font-weight: bold;
			font-size: 14px;
			text-transform: uppercase;
    }

    @media(min-width: 992px) {
      padding-left: 30px;
      border-left: 1px solid #FFFFFF;
      border-right: 1px solid #FFFFFF;
			padding-right: 30px;
    }
		
		li {

			&:last-child {
				margin-right: 0;
			}

      ul {
        padding-left: 15px;
      }
			@media(max-width: $screen-sm) {
				display: block;
				margin-top: 5px;
				margin-bottom: 5px;
			}

      @media (min-width: 768px) {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 20px;
        vertical-align: top;

        ul {
          padding-left: 0;
        }
      }
    }


  }
}
