.page-template-page-form-infographic {

	container, row {
		display: block;
	}
	container {
		margin-bottom: 50px;
	}
	.navbar.navbar-default, #header-main {
		display: none;
	}
	.page-title {
		text-align: center;
		margin-bottom: 50px;
		
		h1 {
			margin: 0;
		}
	}
	.main-paragraph {
		line-height: 1.5;
	}
}