$mc_header_font: #FFFFFF;

#header-main {
  color: $mc_header_font;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 51px;
  font-family: "proxima-nova",sans-serif;
  border-bottom: 1px solid $mc_nav_border;

  #mc-navbar-desktop {
    ul.dropdown-menu.desktop-dropdown {
      top: 128%;

      li:last-child a {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  #mc-navbar-mobile {
    background-color: $mc_grey;
    margin-left: -15px;
    margin-right: -15px;

    // copied these in from bootstrap .navbar-collapse to remove
    // the !important from display: block so I can use visibility classes properly
    overflow-x: visible;
    padding-right: $navbar-padding-horizontal;
    padding-left:  $navbar-padding-horizontal;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    @include clearfix;
    -webkit-overflow-scrolling: touch;

    &.in {
      overflow-y: auto;
    }

    @media (min-width: $grid-float-breakpoint) {
      width: auto;
      border-top: 0;
      box-shadow: none;

      &.collapse {
        display: block;
        height: auto !important;
        padding-bottom: 0; // Override default setting
        overflow: visible !important;
      }

      &.in {
        overflow-y: visible;
      }

      // Undo the collapse side padding for navbars with containers to ensure
      // alignment of right-aligned contents.
      .navbar-fixed-top &,
      .navbar-static-top &,
      .navbar-fixed-bottom & {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .navbar {
    background-color: $mc_grey;
    height: 50px;
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    user-select: none;

    .nav-cat-desc {
			font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
      margin-top: 11px;
      margin-left: 0;
      margin-bottom: 10px;
      letter-spacing: 2px;
      display: inline-block;
      user-select: none;

			@media(max-width: 840px) {
				display: none;
			}
			
    }

    .nav-cat-desc.congress {
      color: $mc_congress;
    }
    .nav-cat-desc.health {
      color: $mc_health;
    }
    .nav-cat-desc.campaigns {
      color: $mc_campaigns;
    }
    .nav-cat-desc.tech {
      color: $mc_tech;
    }
    .nav-cat-desc.finance {
      color: $mc_finance;
    }
    .nav-cat-desc.energy {
      color: $mc_energy;
    }
    .nav-cat-desc.whitehouse {
      color: $mc_whitehouse;
    }

  }

  a.navbar-brand {
    padding: 5px 10px 0 10px;
    height: 50px;
    text-transform: uppercase;
		font-weight: bold;
    letter-spacing: 2px;

    img {
      max-height: 40px;
      display: inline-block;
      padding: 8px 0 8px 8px;
    }
    span {
      color: #FFF;
      display: inline-block;
      margin-left: 6px;
      letter-spacing: 3px;
      vertical-align: -2px;

      @media(max-width: 340px) {
				font-size: 16px;
				letter-spacing: 2px;
      }
    }
  }

  .mc-nav-hamburger {
    margin: 5px 5px 0 0;
    border: 0;
    border-radius: 0;
    background-color: $mc_grey;

    &:focus, &:hover {
      background-color: $mc_active_nav;
    }
  }

  .mc-nav-hamburger-desktop {
    padding-top: 15px;
    padding-bottom: 4px;
    span {
      margin-left: 10px;
			font-weight: bold;
      font-size: 14px;
      vertical-align: 1px;
    }
  }

  .open a.dropdown-toggle {
    background-color: $mc_grey;
  }

  .navbar-collapse {
    background-color: $mc_grey;
  }
  .vertical-spacer div {
    background-color: #FFF;
    margin-left: 8px;
    margin-right: 8px;
    height: 28px;
    width: 1px;
    margin-top: 11px;
  }

  .mc-intelligence {
		font-weight: bold;
    font-size: 14px;
  }

  .dropdown-toggle {
    .caret {
      margin-left: 10px;
    }
  }

  li.mc-search {

    .mc-search-toggle {
      padding: 5px 0px 4px 10px;
      .mc-search-icon {
        height: 40px;
        padding: 10px 8px;
      }
    }
    .mc-search-menu {
      width: 300px;
      padding: 10px;
      font-size: 14px;
      input {
        font-size: 14px;
      }
      span {
        font-size: 14px;
      }
    }
  }

  //subscribe button
  .navbar-btn {
    font-size: 14px;
    padding: 4px 12px;
    margin-top: 10px;
  }

  //makes all text labels white except buttons
  a:not(.btn) {
      color: $mc_header_font;
  }
}

body.admin-bar {
    #header-main {
        top: 46px;

        @media (min-width: 768px) {
            top: 32px;
        }
    }
}

.page-template-default {
    #header-main {
        .navbar.lower {
            background-color: $mc_grey;
        }
    }
}
