body.page-template-page-mixed-fw-template {

	container, row {
		display: block;
	}

	.img {
		margin: auto;
		text-align: center;
		display: block;
		margin-bottom: 10px;

	}
	.text {

	}

	.title-byline {
		text-align: center;

		h1 {
			margin-top: 60px;

		}

		.byline-date {
			text-align: center;
			font-weight: normal;
			font-size: 14px;
			color: #bbb;
			margin-bottom: 50px;
			a {
				color: #bbb;
				text-decoration: none;
			}
		}
	}

	.last-container {
		margin-bottom: 50px;
	}



}
