body.page-template-page-mrp-election-2 {

	container,row {
		display: block;
	}

	.page-title {
		text-align: center;
		margin-bottom: 15px;
		margin-top: 50px;
		font-size: 44px;
	}
	.page-subhead {
		font-family: "proxima-nova";
		font-weight: normal; 
		text-align: center;
		font-size: 18px;
		margin-bottom: 20px;
	}

	#map-container {
		margin-bottom: 35px;
		border-bottom: 1px solid #ccc;
		padding-bottom: 35px;
	}

	.img-body {
		@media(max-width: $screen-md) {
			margin-top: 30px;
		}
	}

	div.entry-meta {
		text-align: center;
		font-weight: normal;
		font-size: 14px;
		color: #bbb;
		margin-bottom: 50px;
		a {
			color: #bbb;
			text-decoration: none;
		}
	}
	.electoral-votes-container {
		// border-top: 1px solid #ccc;
		padding-top: 35px;
		margin-top: 30px;

		.midpoint-label {
			margin: auto;
			text-align: center;
			font-size: 22px;
			clear: both;
			padding-top: 5px;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}

	.electoral-votes-bar {
		position: relative;
		height: 30px;
		width: 100%;
		margin-bottom: 50px;
		background-color: #e9d971;

		.votes {
			float: left;
			height: inherit;
		}
		.votes-r {
			float: right;
			background-color: #d33f2f;
		}
		.votes-d {
			background-color: #0c4a6b;
		}

		.midpoint {
			width: 3px;
			position: absolute;
			top: 0;
			left: 50%;
			height: inherit;
			background-color: #FFFFFF;
		}


		.totals {
			font-size: 24px;
			line-height: 30px;
			margin: auto 10px;
			color: #FFF;
		}
		.totals-label {
			text-align: center;
			font-size: 22px;
			margin: auto;
			display: block;
			margin-bottom: -38px;
			font-weight: bold;
		}
		.totals-d {
			float: left;
		}

		.totals-r {
			float: right;
		}
	}

	#mrp-legend {
		.html-legend {
			text-align: center;
			margin-bottom: 30px;

			.html-legend-color {
				display: inline-block;
				padding: 10px;
				height: 20px;
				width: 20px;
				border-radius: 50%;
			}
			.html-legend-value {
				margin-right: 10px;
				vertical-align: top;
				margin-left: 5px;
			}
		}
	}

	p.table-label {
		font-size: 12px;
		text-transform: uppercase;
		text-align: center;
	}
	.table-container {
		overflow-x: scroll;

		thead th {
			background-color: #eaf5f5;
			&:hover {
				background-color: #c5e1dd;
			}
		}
	}

}
