
.policy-landing { // div

  &__header { // header
    min-height: 120px;
    padding: 40px 20px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &-headline { // h1

    }
  }

  &__header-image-container { // div.container
    background-color: $mc_clinton_blue;
    // In case of Trump victory, uncomment below
    // background-color: $mc_style_health_red;
  }

  &__header-image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header-image { // img
    width: 100%;
    height: auto;
    max-width: 700px;
  }

  &__introduction-wrap { // div
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    @media (min-width: 768px) {
      padding: 90px;
    }
  }

  &__introduction { // div.lead-paragraph
    max-width: 700px;
  }

  &__topics-wrap { // div

  }

  &__topics { // div

  }

  &__single-topic { // section
    background-color: $mc_superlight_brown;
    margin-bottom: 20px;

    &-icon-wrap { // div
      text-align: center;
      @media (min-width: 768px) {
        padding: 20px;
      }
    }

    &-icon { // img
      max-height: 200px;
      @media (max-width: 991px) {
        padding-top: 50px;
        max-width: 400px;
      }
      @media (max-width: 767px) {
        padding-top: 40px;
        max-width: 300px;
      }
      @media (max-width: 500px) {
        padding-top: 30px;
        max-width: 200px;
      }
    }

    &-title { // h2
      padding: 0 20px 5px 20px; // to match link padding below
      text-align: center;
      @media (min-width: 992px){
        text-align: left;
      }
    }

    &-row { // div.row
      @media (min-width: 768px){
        padding: 0 10%;
      }
    }

    &-col-inner {
      padding: 5px 10%;
      @media (min-width: 768px) {
        padding: 10px;
      }
    }

    &-links { // ul
      list-style: none;
      padding: 0;
    }

    &-link { // li
      list-style: none;
      padding-bottom: 5px;
      & a {
        font-weight: 100;
        color: lighten($mc_grey,15%);
        font-size: 17px;
        border-radius: 2px;
        display: inline-block;
        padding: 12px 20px;
        &,&:link,&:visited,&:focus,&:hover,&:active{
          text-decoration: none;
        }
        &:hover {
          background-color: darken($mc_superlight_brown, 5%);
          transition: all 0.5s ease;
        }
      }
    }

    &-link-tag {
      display: block;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

}
