body.page-template-page-presidential-favorability {

	container, section, row {
		display: block;
	}

	#content-area {

		.intro-paragraph {
			margin-bottom: 20px;
		}

		h1 {
			text-align: center;
			margin-bottom: 5px;
		}
		h2 {
			text-align: center;
			font-size: 18px;
			margin-bottom: 30px;

		}
	}

	#tabs {
		.tab-pills {
			margin-bottom: 30px;

			li {
				text-align: center;
				margin-left: auto;
				a {
					border-radius: 20px;
					font-size: 18px;
					border: 1px solid #ccc;
				}
			}
		}
	}

	#map-content {
		.html-legend {
			text-align: center;
			margin: 10px 0;

			span.html-legend-color {
				display: inline-block;
				padding: 12px 12px;
				margin: 5px 5px;
				vertical-align: middle;
				border-radius: 50%;
			}
			span.html-legend-value {
				margin-right: 10px;

			}

		}

		.map-tab-content {
			margin-bottom: 20px;
		}
		li {
			text-align: center;
		}
		.table-data {
			overflow-x: scroll;
		}
	}
}
