.page.search {
    min-height: 100%;
    padding: 0;

    .search-form {
        margin: 20px 0 40px;
    }

    .search-input {
        box-shadow: none;
    }

    .search-button {
        color: #FFFFFF;
        background-color: $mc_grey;
        border: none;
        outline: none;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.6;
        }
    }

    .entry-title {
        a {
            color: $mc_grey;
        }
    }

    .tech {
        color: $mc_tech;
    }

    .health {
        color: $mc_health;
    }

    .energy {
        color: $mc_energy;
    }

    .finance {
        color: $mc_finance;
    }

    .congress {
        color: $mc_congress;
    }
}

.page-template-search {
    #header-main {
        a:not(.btn) {
            color: $mc_grey;
        }

        .hasColor {
            a:not(.btn) {
                color: #FFFFFF;
            }
        }
    }
}
