
body.page-template-page-senate-rankings-v2 {
  $green: #50a045;
  $grey: #e6e7e8;
  $red: #d33f2f;
  $darkgrey: #323232;
  $darkpurple: #D8C8DE;
  $lightpurple: #e9dfed;

  .dark{
    opacity: .85;
  }

  .light{
    opacity: .45;
  }
	
  .nav-tabs li {
    font-weight: 300;
    a {
      color: $darkgrey;
      text-transform: uppercase;
    }
  }

  .nav-tabs li.active {
    font-weight: 900;
  }

  .table-hint {
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    margin-top: 20px;
  }

  .table-data {
    overflow-x: scroll;
  }

  .tablepress {
    font-size: 14px;

    thead th{
      background-color: $lightpurple;
      font-weight: 700;
      vertical-align: middle;
      text-align: bottom;
      color: $darkgrey;
    }

    thead th:hover{
      background-color: $darkpurple;
    }

    th.sorting::after{
    }

    .sorting_desc, .sorting_asc{
      background-color: $darkpurple;
    }

  }



  main#content-area {
    margin-top: 20px;

    .tab-content {
      margin-bottom: 20px;
    }
  }

  #map-content {
    min-height: 600px;
    @media(max-width: $screen-xs) {
      min-height: 300px;
    }
    @media(max-width: $screen-sm) {
      min-height: 400px;
    }

  }

  .hb-governor-legend {
    margin: 25px 0;
    ul {
      text-align: left;
      padding: 0;
    }
    li {
      font-size: 14px;
      list-style: none;
      display: inline-block;
      margin-right: 15px;
      @media(max-width: $screen-sm) {
        display: block;
        margin-bottom: 2px;
        text-align: left;
      }
    }
    .legend-color {
      height: 18px;
      width: 18px;
      display: inline-block;
      margin-right: 5px;
      vertical-align: middle;
      border-radius : 20%;
      margin-bottom: 3px;
    }
    .legend-red {
      background-color: $red;
    }
    .legend-green {
      background-color: $green;
    }
    .legend-grey {
      background-color: $grey;
    }

  }
  .hb-gov-rows {
    list-style: none;
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 10px;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;

      div {
        display: inline-block;
      }

      .hb-gov-rank {
        font-size: 45px;
        text-align: center;
        font-weight: 300;
        margin-top: 6px;
      }

      .hb-gov-name {
        font-weight: 900;
        text-transform: uppercase;

        @media(min-width: $screen-sm) {
          margin-top: 20px;
        }
        a {
          color: #000;
        }

        span {
          font-weight: 300;
        }
      }
    }
  }
  .hb-gov-photo {
    img {
      border-radius: 50%;
      background-color: $grey;
      max-height: 80px;
    }
  }

  .hb-gov-rating {
    i {
      font-size: 20px;
    }

      .fa-thumbs-down {
        color: $red;
        vertical-align: bottom;
        // margin: 0 4px;
      }
      .fa-thumbs-up {
        color: $green;
        vertical-align: bottom;
        // margin: 0 4px;
      }

    .bar-container {
      font-size: 0;
      width: 85%;

      @media (max-width: $screen-sm) {
        width: 80%;
      }
      i {
        font-size: 16px;
      }

      bar {
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        span {
          color: #fff;
          font-size: 14px;
          margin: 0 6px;
          font-weight: 900;
          @media(max-width: $screen-xs) {
            margin: 0 2px;
          }
        }
      }
      .bar-approve {
        background-color: $green;
      }

      .bar-disapprove {
        background-color: $red;
      }

      .bar-unknown {
        background-color: $grey;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
      }
    }
  }
	section.correction {
		margin-top: 30px;
	}
}
