.page-template-page-senate-rankings-php {
  $lightblue: #79b8e1;
  $lightorange: #fedcb7;
  $bgopacity: 0.9;


  section {
    margin-bottom: 20px;
  }

  h1.page-title {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  #table-legend {
    margin: 20px auto;
    overflow: hidden;
    text-align: center;

    @media(max-width: $screen-sm) {
      text-align: left;
      margin-left: 40px;
    }

    .legend-color {
      width: 25px;
      height: 20px;
      margin-left: 20px;
      display: inline-block;
    }
    span {
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
    }
    .legend-approve {
      background-color: $mc_style_finance_green;
    }
    .legend-disapprove {
      background-color: $mc_style_health_red;
    }
    .legend-unknown {
      background-color: $mc_light_grey;
    }
  }

  .tab-content {

    .hb-table-rank {
      font-size: 30px;
      clear: both;
    }

    .hb-table-img {
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;

      .hb-table-img-span {
        display: inline-block;
        margin-top: 10px;

        p {
          font-size: 16px;
          span {
            font-size: 12px;
          }
        }
      }
      .hb-table-img-wrapper {
        display: inline-block;

        img {
          height: auto;
          width: 60px;
          display: block;
          margin: 7px auto 0px auto;
          border-radius: 50%;
          padding: 5px;
          // background-color: rgba($mc_lightest_grey, $bgopacity);
          background-color: $mc_lightest_grey;

          &.party-I {
            background-color: rgba(purple, $bgopacity);
          }
          &.party-R {
            background-color: rgba($mc_style_health_red, $bgopacity);
          }
          &.party-D {
            background-color: rgba($mc_style_energy_blue, $bgopacity);
          }
        }
      }

      .hb-table-img-labels {
        display: inline-block;
        vertical-align: middle;
        @media(max-width: $screen-md) {
          clear: left;
          margin-top: 7px;
          line-height: 25px;
          text-align: right;
        }
        @media (max-width: $screen-xs) {
          margin-top: 10px;

        }

        span {
          display: block;
        }
      }

      .hb-table-rating-wrapper {
        display: inline-block;
        text-align: right;
        vertical-align: middle;

        @media(max-width: $screen-md) {
          margin-top: 10px;
        }

        .hb-table-rating-approval {
          background-color: $mc_style_finance_green;
        }
        .hb-table-rating-disapproval {
          background-color: $mc_style_health_red;
        }
        .hb-table-rating-unknown {
          background-color: $mc_light_grey;
        }
      }

      bar {
        display: block;
        min-height: 25px;
        overflow: hidden;
      }
    }
  }
  .senate-middle-paragraph {
    margin-bottom: 10px;
  }

  .senate-top-table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;

    .hb-table-senator {
      text-align: left;  
    }
    td,th {

    }

    th {
      text-align: center;
      padding: 10px;
      background-color: $mc_lightest_grey;
      border-left: 1px solid #fff;
    }
    td {
      border-bottom: 1px solid #fedcb7;
    }

  }
  .senate-table-data {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px 0px;
    width: 100%;
    @media(max-width: $screen-sm) {
      overflow-x: scroll;
    }
    table {
      width: 100%;

    }
  }
}
