body.single {
	.featured {
		height: 80%;
	}

	.featured-image-caption {
		font-size: 12px;
		color: rgb(120, 120, 120);
		text-align: right;
		padding: 5px 0px;
	}

		.article-wrap {
			padding-top: 20px;
			margin-top: 20px;
			padding-bottom: 40px;
		}

		.banner-ad-wrap {
				margin-top: 10px;
				margin-bottom: 10px;
				text-align: center;

				@media (max-width: 767px) {
						display: none;
				}
		}

		.alerts {
				margin-top: 0;
		}
}

body.single .single {

	article {
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;
	}

		.entry-title {
			font-weight: bold;
			@media(max-width: 767px) {
					font-size: 30px;
			}
		}
		.share-icons {
			display: inline-block;
			float: right;
			margin-top: 0;
			i {
				color: #FFF;
			}
		}

		.single-image, .multiple-images {
			img {
				width: 100%;
			}
		}
		.entry-header {
			text-align: left;
		}

		.entry-meta {
			font-family: "proxima-nova", sans-serif;
			font-size: 14px;
			font-weight: lighter;
			text-transform: uppercase;
			margin-bottom: 30px;
			margin-top: 30px;

			span.author, a, .separator, time.entry-date {
				color: $mc_light_grey;
			}
		}

		.entry-content {
			p {
				line-height: 1.6;
			}
		}


		.alignright {
				margin-right: -25%;

				figcaption {
						text-align: right;
				}
		}

		.alignleft {
				margin-left: -25%;

				figcaption {
						text-align: left;
				}
		}

		.quote {
				margin-top: 40px;
				margin-bottom: 40px;
				text-align: center;

				blockquote {
						border: none;
						font-style: italic;
						padding: 0;
						margin: 0;
						font-size: 36px;
						display: block;
				}

				.source {
						font-style: normal;
						display: block;
						margin-top: 20px;
				}
		}

		.caption {
				padding: 5px 0 0;
				font-style: italic;
				display: block;
		}

		.single-image {
				margin-top: 40px;
				margin-bottom: 40px;

				&.full-width {

						.caption {
								padding-top: 10px;
						}
				}
		}

		.plain-content {
				margin-top: 40px;
				margin-bottom: 40px;
		}

		.multiple-images {
				margin-top: 40px;
				margin-bottom: 40px;

				&.images-4 {
						.row:first-child {
								margin-bottom: 30px;
						}
				}
		}

		.tweet-this, .share-this {
				display: block;
				padding: 20px 0;
				color: #FFFFFF;
				text-align: center;
				border-radius: 3px;
				text-transform: uppercase;
				font-family: "proxima-nova", sans-serif;
				transition: opacity 0.2s;
				margin-bottom: 20px;

				&:hover {
						text-decoration: none;
						opacity: 0.6;
				}
		}

		.tweet-this {
				background-color: $twitter_blue;
		}

		.share-this {
				background-color: $facebook_blue;
		}

		.single-footer {
				margin-top: 40px;
				margin-bottom: 40px;

				.single-category-tags span {
					display: inline-block;
					float: left;

					&.single-category-label {
						margin-right: 10px;
						margin-top: 3px;
						font-weight: bold;
					}
				}


				.authors {
						margin-top: 40px;
						border-top: 1px solid $mc_light_grey;
						border-bottom: 1px solid $mc_light_grey;

						.author {
							a {
								color: $mc_social_grey;

							}

							.name {
								display: block;
								margin-bottom: 0;
							}

							.twitter, .author-link {
								color: $mc_social_grey;
							}
						}

						.author-photo {
							margin: 40px 0;
							max-height: 100%;
							display: inline-block;
							text-align: center;
							@media(max-width: $screen-xs) {
								margin: 20px 0 0 0;
							}

							img {
									border-radius: 50%;
							}
						}

						.author-info {
							padding: 30px 0;
							display: inline-block;
							@media(max-width: $screen-xs) {
								text-align: center;
							}

							h4.name {
								font-size: 16px;
								margin: 10px 0;
							}
							a {
								margin: 10px 0;
								@media (max-width: $screen-xs) {
									display: block;
								}
							}

							p {
								font-style: italic;
								margin: 10px 0;
							}
							span {
								margin: 0 5px;
								color: $mc_social_grey;
							}
							span.slashes {
								@media (max-width: $screen-xs) {
									display: none;
								}
							}
						}
				}
		}

		@media(max-width: 767px) {
				padding: 30px 0;
		}

}
