.single-mc_brief {

	.mc_brief {
		padding-top: 30px;
	}

	table.events {
		width: 100%;
		margin-bottom: 40px;

		.event-date {
			width: 100%;
			border-collapse: collapse;
		}

		.event {
			td {
				vertical-align: top;
				border-bottom: 1px solid #E1DCD7;
				padding-bottom: 10px;
				padding-top: 10px;
				padding-left: 0;
				padding-right: 0;
			}

			&:last-child {
				td {
					border-bottom: none;
				}
			}

			.event-time {
				text-align: right;
				min-width: 100px;
			}
		}

		.event-day {
			padding-top: 20px;
		}
	}
}