// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
	Fonts
--------------------------------------------------------------*/
@import "fonts";
/*--------------------------------------------------------------
6.1 Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
6.2 Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
6.3 Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
6.4 Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
6.5 Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
6.6 Footer
--------------------------------------------------------------*/
@import "footer";

/*--------------------------------------------------------------
6.7 Section Homes
--------------------------------------------------------------*/
@import "section-home/section";

/*--------------------------------------------------------------
6.8 Search
--------------------------------------------------------------*/
@import "search";

/*--------------------------------------------------------------
6.9 Archive
--------------------------------------------------------------*/
@import "archive";

/*--------------------------------------------------------------
6.10 Single
--------------------------------------------------------------*/
@import "single";
@import "single-brief";

/*--------------------------------------------------------------
6.11 Other pages
--------------------------------------------------------------*/
@import "ads";
@import "about_new";
@import "client_landing";
@import "fifty_states";
@import "polling/polling";
@import "senate_rankings";
@import "senate_rankings_v2";
@import "state_governors";
@import "state_governors_nomap";
@import "advertising/advertising";
@import "presidential-favorability";
@import "dial_test";
@import "dial_test_v2";
@import "mrp_election";
@import "mrp_election_2";
@import "mixed-fw-template";
@import "work_with_us";
@import "author";
@import "form_infographic_2col";
@import "election_interactive_2016";
@import "policy_landing";

/*--------------------------------------------------------------
6.12 Alerts
--------------------------------------------------------------*/
@import "alerts";

/*--------------------------------------------------------------
6.13 General
--------------------------------------------------------------*/

html {
		-webkit-font-smoothing: antialiased;

		@media
		only screen and (-webkit-min-device-pixel-ratio: 1.25),
		only screen and ( min-device-pixel-ratio: 1.25),
		only screen and ( min-resolution: 200dpi),
		only screen and ( min-resolution: 1.25dppx)
		{
				-webkit-font-smoothing: subpixel-antialiased;
		}
}

body, html {
		height:	100%;
}

body {
		padding-top: 50px;
		color: $mc_body_text;
		font-family: "proxima-nova", sans-serif;
		font-size: 16px;

		// @media (min-width: 768px) {
		//		 padding-top: 112px;
		// }
}

img {
		max-width: 100%;
		height: auto;
}

img.logo {
		// width: 100%;
		height: 100%;
}

.entry-footer {
		font-family: "proxima-nova",sans-serif;
		font-size: 14px;
		font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
}

li.gfield {
		margin-bottom: 15px;
}

.share-icons {
		margin-top: 10px;

		a {
				margin-right: 5px;
				display: inline-block;
				background-color: $mc_social_grey;
				color: #FFF;
				border-radius: 2px;
				width: 16px;
				height: 16px;
				text-align: center;
				transition: background-color .2s;

				i {
						font-size: 12px;
						vertical-align: 2px;
						&.fa-linkedin {
								vertical-align: 3px;
						}

				}

				&:hover {
						background-color: #555;
				}
		}
}

.square-category-icons {
		> a {
				display: block;
				float: left;
				width: 50px;
				height: 50px;
				font-size: 24px;
				line-height: 50px;
				vertical-align: middle;
				text-align: center;
				background-color: #222;
				color: #FFFFFF;
				text-transform: uppercase;

				&:hover {
						text-decoration: none;
				}

				&.congress {
						background-color: $mc_congress;
						color: #FFFFFF;
				}

				&.campaigns {
						background-color: $mc_campaigns;
						color: #FFFFFF;
				}

				&.finance {
						background-color: $mc_finance;
						color: #FFFFFF;
				}

				&.tech {
						background-color: $mc_tech;
						color: #FFFFFF;
				}

				&.health {
						background-color: $mc_health;
						color: #FFFFFF;
				}

				&.energy {
						background-color: $mc_energy;
						color: #FFFFFF;
				}
		}
}

.load-more {
		display: block;
		text-align: center;
		color: #222;
		cursor: pointer;

		&:hover {
			text-decoration: none;
			color: $mc_social_grey;
		}

		.fa {
				margin-top: 5px;
				display: block;
		}
}
