body.page-template-page-section-home {
	background-color: $mc_body_bgcolor;
}
body.page-template-page-home {
	background-color: $mc_body_bgcolor;
}
.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.timeago {
	text-transform: uppercase;
}

div.single {
    article {
        font-size: 16px;
        line-height: 1.6;
    }
}

article {
	padding: 20px;
	box-shadow: 0px 0px 5px 1px rgba(43, 43, 43, 0.2);
	margin-bottom: 30px;
	position: relative;
	min-height: 200px;

	&.type-page {
		box-shadow: none;
	}

	&.featured {
		padding: 20px 0;
		border-bottom: 1px solid $mc_border_grey;
		padding: 20px 0;
		box-shadow: none;

    .meta-primary {
			padding: 20px 0;
			position: relative;
    }

		.category-tags {
			padding-left: 0;
			position: relative;
			margin-top: 20px;
		}
	}

	.entry-title {
		margin: 0;
		font-weight: bold;
		a {
			color: $mc_grey;
		}
	}
	.content-wrap {
		padding: 0 20px 30px 20px;
		position: relative;
		font-size: 14px;
	}
	.thumbnail-title-wrap {
		span,a {
			color: $mc_body_text;
		}
	}
	.thumbnail-title-wrap[data-bg] {
		.backstretch {
			filter: grayscale(100%) brightness(50%);
		}
		.entry-header {
			padding: 20px;
		}
		a, span {
			color: #FFF;
		}
	}
	span.opinion {
		display: block;
		text-transform: uppercase;
		margin-bottom: 10px;
	}


	@media(min-width: $screen-md) {
		display: table;

		.content-wrap {
			display: table-cell;
			width: 58.33333333%;
			position: relative;
		}

		
		.thumbnail-title-wrap {
			display: table-cell;
			width: 41.66666667%;
			vertical-align: top;
		}

		&.layout-title-content {
			.entry-header {
				text-align: right;
			}
			.left-of-title {
				display: none;
			}
		}
		&.layout-content-title {
			.category-tags {
				right: 0;
				left: auto;
			}
			.entry-content {
				text-align: right;
			}
			.right-of-title {
				display: none;
			}
		}
		&.featured .entry-content {
			padding: 0;
		}
	}

	@media(max-width: $screen-md) {
		.content-wrap.left-of-title {
			display: none;
		}
		.content-wrap {
			padding: 20px 0 0 0;
		}
		.entry-content {
			padding-bottom: 20px;
		}
		.category-tags {
			padding: 0 !important;
			position: relative !important;
		}
		&.layout-title-content {
			.entry-header {
				text-align: left;
			}
		}
		&.layout-content-title {
			.entry-content {
				text-align: left;
			}
		}
	}

// news ticker categories
	a.category-bold {
		font-weight: bold;
	}
	a.category.tech {
		color: $mc_tech;
	}
	a.category.health {
		color: $mc_health;
	}
	a.category.energy {
		color: $mc_energy;
	}
	a.category.finance {
		color: $mc_finance;
	}
	a.category.campaigns {
		color: $mc_campaigns;
	}
	a.category.congress {
		color: $mc_congress;
	}
	a.category.whitehouse {
		color: $mc_whitehouse;
	}
	a.category.polling {
		color: $mc_polling;
	}

	//story categories 
	.category-tags {
		position: absolute;
		left: 0;
		right: auto;
		bottom: 0;
		padding: 0 20px;
	}
	span.category {
		margin: 4px;
		padding: 1px 5px;
		border-radius: 3px;
		font-size: 14px;
		display: inline-block;
		font-weight: bold;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
		a {
			color: #FFF;
			&:hover {
				text-decoration: none;
			}
		}

	}
	span.category.tech {
		background-color: $mc_tech;
  }
  span.category.health {
    background-color: $mc_health;
  }
  span.category.energy {
    background-color: $mc_energy;
  }
  span.category.finance {
    background-color: $mc_finance;
  }
  span.category.congress {
    background-color: $mc_congress;
  }
	span.category.campaigns {
		background-color: $mc_campaigns;
	}
	span.category.general {
		background-color: $mc_general;
	}
	span.category.whitehouse {
		background-color: $mc_whitehouse;
	}
	span.category.polling {
		background-color: $mc_polling;
	}

}

.page-header {
	border: none;
}
