.page-template-page-section-home .featured {
	// padding: 0;
	padding-bottom: 20px;

	.entry-header {
		padding: 10px 0;

		h2 {
			font-size: 36px;
			font-weight: bold;
		}
	}

	.author {
		display: block;
	}

	h2 {
		margin: 0;
	}

	.entry-footer {
		padding: 0 10px 10px;
	}

	.author {
		float: left;

		a {
			color: $mc_body_text;
			font-size: 16px;
		}
	}
}
