@import "stories";
@import "featured";

.home {
    .stories, .opinions {
        .read-all {
            display: block;
            margin-top: 20px;
            color: $mc_light_grey;
            text-transform: uppercase;
            font-size: 18px;
            font-family: "proxima-nova",sans-serif;
        }
    }
}