.page-template-about {
  container, row {
    display: block;
  }
  .header {
    position: relative;

    .header-banner {
      text-align: center;
      margin-top: -265px;
      opacity: 0.90;
      box-shadow: 0px 2px 15px 1px rgba(33,33,33,0.8);
      background-color: $mc_grey;
      padding: 15px;
      font-size: 45px;

      @media(max-width: $screen-lg) {
        font-size: 37px;
      }
      @media(max-width: $screen-md) {
        font-size: 28px;
      }
      @media(max-width: $screen-sm) {
        font-size: 25px;
      }
      p {
        color: #FFF;
				font-weight: bold;
        margin-bottom: 0;

      }
      p.larger-p {
        font-size: 1em;
      }
      p.smaller-p {
        font-size: 0.7em;
      }
    }

    .header-images {
      height: 400px;
      font-size: 0;

      .header-img-wrap {
        width: 33.33333%;
        height: 100%;
        display: inline-block;
        background-size: cover;
        background-position: center center;
      }
    }
  }

}
