.page-template-about {

  section.what-we-do {

    .what-intro {
			font-weight: bold;
      margin-bottom: 16px;
      margin-top: 60px;
    }

    .what-description {
      text-align: center;
      h1 {
				font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
      }
      .img-container {
        height: 150px;

        img {
          margin: auto;
          display: block;
          width: auto;
          max-height: 100%;
          vertical-align: bottom;
          padding: 23px;
        }
      }

      p {
        text-align: left;
        margin-bottom :20px;
      }
    }

  }
}
