.page-template-about {
    section.who-we-are {
        padding: 40px;

        .section-title {
            margin-bottom: 60px;
            text-align: center;
						font-weight: bold;
            border-top: 1px solid $mc_nav_border;
            padding-top: 60px;
        }

        .employee {
            margin-bottom: 40px;
            text-align: center;

            p {
                margin: 0;
            }

            img {
                border-radius: 50%;
                margin-bottom: 20px;
            }

            @media (max-width: 767px) {
                &:nth-child(2n + 1) {
                    clear: left;
                }
            }

            @media (min-width: 768px) and (max-width: 991px) {
                &:nth-child(3n + 1) {
                    clear: left;
                }
            }

            @media (min-width: 992px) {
                &:nth-child(4n + 1) {
                    clear: left;
                }
            }
        }
    }
}
